certifi==2023.11.17
charset-normalizer==3.3.2
editdistance==0.6.2
idna==3.4
isort==5.12.0
marisa-trie==1.1.0
munkres==1.1.4
numpy==1.26.2
panphon==0.20.0
PyYAML==6.0.1
regex==2023.10.3
requests==2.31.0
unicodecsv==0.14.1
urllib3==2.1.0
